<html>
   <head>
      <title>{{ title }}</title>
   </head>
   <body>
    {% include 'instructions/instructions.html' %}
    {% include 'weather/weather.html' %}
    {% include 'form/form.html' %}  
    {% include 'calculator/calculator.html' %}  
   </body>
 </html>