
    <!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>

    <link rel="stylesheet" type="text/css" href="{{ static_url("form.css")}}" />
    
  </head>
  <body>
    <div id="form-wrapper">
        <h2>Personal Information</h2>
        <form>
            <div class="row-flex">
            <label class="form-section">Gender:</label>
            <input type="radio" id="male" name="gender" value="male" checked>
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
            </div>
        
            <div class="row-flex">
                <label class="form-section" for="age">Age:</label>
                <input type="number" id="age" name="agename"
                      min="15" max="150" value=15>
            </div>
            
            <div class="row-flex">
            <label class="form-section" for="years">Years of Driving Experience:</label>
            <select id="years-driving" name="years">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5+">5+</option>
            </select>
            </div>
            <div class="row-flex">
            <label class="form-section" for="miles">Miles to Drive:</label>
            <input type="number" id="miles" name="mileage"
               min="0" max="999999999999" value=0>
            </div>
        </form>
        </div>
    
  </body>
</html>
    