#rate-wrapper{
  border-radius: 10px;
  height:100%;
  width:100%;
  background-image: linear-gradient(#ffdd00,#fbb034);
  overflow: scroll;
}
#rate{
  margin-top: 1px;
}
h2{
  margin: 0px auto;
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h6{
  font-size: 40px;
  margin-top: -100px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
body {
  background: #333;
  font-family: $openSans;
}

/*Source: https://webdeasy.de/en/top-css-buttons-en/ #5 */

.buttons {
  margin-top: 50px;
  text-align: center;
  border-radius:30px;
}

$cyan: #544c9c;
$dark: #FFFFFF;
$borderW: 2px;

.blob-btn:active {
  filter: brightness(150%);
}

.blob-btn{
  padding: 10px;
  font-size: 34px;
  background-color: blue;
  color: white;
  border-radius: 10px;
}