
<!DOCTYPE html>
<html>
  <head>
    <title>Instructions</title>
    <script src="{{ static_url("calculator.js")}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url("calculator.scss")}}" />
    
  </head>
  <body>

    

    <div id="rate-wrapper">
        <h2>Calculate Your Insurance Rate:</h2>
        <div class="buttons">

          <button  id="btn" class="blob-btn" type="button">click me</button>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>

    $("#btn").click(function () {
       //Weather Data
    let weatherImageSubmit=document.getElementById('weather-iconid').src
    let temperatureSubmit=document.getElementById('temp-weather').innerHTML
    let highLowSubmit=document.getElementById('temp-highlow').innerHTML

    let feelsLikeSubmit=document.getElementById('temp-feelslike').innerHTML
    let citySubmit=document.querySelector("#city").innerHTML;
    let humiditySubmit=document.querySelector("#humidity").innerHTML;
    //Form Data
    let genderSubmit = (document.querySelector('input[name="gender"]:checked')).value;
    let ageSubmit=(document.querySelector('#age')).value;
    let yearsDrivenSubmit=(document.querySelector('#years-driving')).value;
    let milesSubmit=(document.querySelector('#miles')).value;

    //Calculates premiums and discounts based on inputted data
    var genderPremium=1
    if (genderSubmit == "male"){
      genderPremium=1.1
    }
    else if (genderSubmit == "female"){
      genderPremium=.9
    }
    var agePremium=1
    var ageNum = +ageSubmit
    if (ageNum <  25){
      agePremium=1.1
    }
    else if (+ageNum >  60){
      agePremium=1.1
    }
    var experiencePremium=1
    let experienceNumFormat= yearsDrivenSubmit.charAt(0)
    var experienceNum =+experienceNumFormat
    experiencePremium= 1.3 - experienceNum/10

    var weatherPremium=1
    var tempNum = +temperatureSubmit
    if (tempNum <= 0) {
      weatherPremium=1.2
    }

    let milesNum=+milesSubmit
    //Calculates final per mile and total insurance price
    let price = 1 * genderPremium * agePremium * experiencePremium *  weatherPremium * .065
    price= Math.round(100*price)/100;
    document.querySelector('#rate').innerHTML="$"+price + " per mile";
    let totalPrice= Math.round(100*(price*milesNum))/100;
    document.querySelector('#totalRate').innerHTML="Total Cost: $"+totalPrice
    console.log(document.getElementById('temp-feelslike').innerHTML)
    let data = {
      temperature: temperatureSubmit,
      highLow: highLowSubmit,
      feelsLike: feelsLikeSubmit,
      city: citySubmit,
      humidity: humiditySubmit,
      gender: genderSubmit,
      age: ageSubmit,
      drivingExperience: yearsDrivenSubmit,
      tripLength: milesSubmit,
      costPerMile: price,
      totalCost: totalPrice
    }
        $.ajax({
            type: 'GET',
            url: "/log_rate/",
            data:data
        });
    });
</script>


          <br/>
        
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
        <div>
        <h6 id="rate">$0 per mile</h6>
        <h6 id="totalRate">Total Cost: $0</h6>
        </div>
        <div></div>
        </div>
  </body>
</html>
    



    