
    <!DOCTYPE html>
    <html>
      <head>
        <title>Weather</title>
        <link rel="stylesheet" type="text/css" href="{{ static_url("weather.css")}}" />
        <script src="{{ static_url("weather.js")}}"></script>
      </head>
      <body>
<div id="divWeatherMain" > 
    <div class="weatherWidgetRow ">
        <img class="weather-icon" id="weather-iconid" src="" alt="">
    </div> 
    <div id="temp-weather" class=" temp-weather weatherWidgetRow" style="font-size: 48px;margin-top: 5px;"></div>
    <div id="temp-highlow" class="weatherWidgetRow" style="font-size: 20px;"></div>
    <div id="temp-feelslike" class="weatherWidgetRow" style="font-size: 20px;"></div>
    <div id="city" class="weatherWidgetRow" style="font-size: 35px;margin-top: 10px;"></div>
    <div id="humidity" class="weatherWidgetRow" style="font-size: 20px;"></div>
</div>
      </body>
    </html>
        

