<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>
    
    <script src="{{ static_url("map.js")}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url("map.css")}}" />
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCJ7ndnABcAYMZkYiPp69uF33AaURm1c0&callback&libraries=&v=weekly&callback=initMap">
</script>

  </body>
</html>