<!DOCTYPE html>
<html>
  <head>
    <title>Instructions</title>

    <link rel="stylesheet" type="text/css" href="{{ static_url("instructions.css")}}" />
    
  </head>
  <body>
    <div id="instructions-wrap">
        <h2>Insurance Calculation Instructions:</h2>
        <ol>
        <li>Input your information in the form</li>
        <li>Click enter in the "Calculate Your Insurance Rate" box to get a rate!</li>
        </ol>
        </div>
  </body>
</html>
    